:root{
        --heart-color: #ff5873;
        --hover-color: #C1275C;
        --background-color: #ebc8c0;
        --white: #fff;
    }
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: var(--heart-color);
    background-image: url('images/mini-hearth.png');
    background-size: 100%;
    background-image: url("bg2.jpg");
  }
  .card {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  .title {
    font-size: 24px;
    margin-top: 0;
  }
  .heart {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    background-repeat:  no-repeat;
    background-size: 100%;
  }
  
  .button {
    background-color: var(--heart-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
  }
  .button.button__negative{
    background-color: var(--white);
    color: var(--heart-color);
    border: 1px solid var(--heart-color);
  }
  .button.button__error{
    width: 100%;
    display: none;
  }
  .button:focus {
    outline: none;
  }
  .text {
    font-size: 14px;
    margin-top: 20px;
  }
  .img-fluid {
    width: 100%;
    height: auto;
  }

 .title {
  font-size: 30px;
  margin-top: 0;
}

.music-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.music-btn.playing {
  color: pink;
}

.confetti {
  position: fixed;
  top: -10px;
  width: 12px;
  height: 12px;
  background-color: pink;
  transform: rotate(45deg);
  animation: fall 3s linear forwards;
  z-index: 9999;
}

/* heart shape */
.confetti::before,
.confetti::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: inherit;
  border-radius: 50%;
}

.confetti::before {
  top: -6px;
  left: 0;
}

.confetti::after {
  left: -6px;
  top: 0;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}

#yes-text {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
